<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<link rel="stylesheet" href="./assets/style.css">

<div id="app">
  <h1 class="title">Personagens de Star Wars</h1>

  <div v-for="person in people">
    <row :person="person"></row>
  </div>

  <h4 class="type">Cartões</h4>

  <div class="container">
    <div v-for="person in people">
      <card :person="person"></card>
    </div>
  </div>
</div>

<script type="module">
  const { createApp } = Vue

  import Card from './components/card.js'

  const API_URL = `http://localhost:3333/alunos`

  createApp({
    data: () => ({
      people: []
    }),
    methods: {
      async getPeople () {
  
        const response = await fetch(API_URL)

        const data = await response.json()
        this.people = data
        console.log(data)
      }
    },
    created() {
      this.getPeople()
    },
    components: {
      Card
    }
  }).mount('#app')
</script>